[Desktop Entry]
Encoding=UTF-8
Name=IGN Control Panel
Comment=IGOS Nusantara Control Panel
Type=Application
Terminal=false
Exec=beesu ign-control-panel
Icon=start-here
Categories=GNOME;Settings;
OnlyShowIn=GNOME;
